quickshell           
hyprland             
swww                 
matugen              
clipse               
python3              
kitty                
thunar                  
playerctl            
brightnessctl        
pactl                
zenity               
jq                   
pavucontrol         
nm-connection-editor
inter-font          
ttf-roboto-mono-nerd   
gnome-keyring
libsecret
hyprpolkitagent