quickshell           
hyprland             
swww                 
matugen              
clipse               
python3              
kitty                
thunar               
grimblast            
playerctl            
brightnessctl        
pactl                
zenity               
jq                   
pavucontrol         
nm-connection-editor
fonts-inter          
fonts-roboto-mono    
